
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.LoginViewModel>
			  
@{
	ViewBag.Title = "ProgressTen - Reset Password";
}

@section Menu{
	@Html.Partial("_openMenu")
}

<div class="span-6">&nbsp;</div>
<div class="span-10 coverBar">

    <h3>Reset Password</h3>

    <div class="prepend-1 span-8 last">
		Your password has been reset. An email has been sent to @(Model.EmailAddress) which contains your new temporary password.
    </div>
        
    <div class="span-9 last">&nbsp;</div>

</div>

<div class="span-8 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>