


	@*<div class="span-24 append-1 last headerBarText">*@
	<div class="span-23 last headerBarText">
		@Html.MainMenu(new List<ProgressTen.Infrastructure.ViewModels.MenuTab>() {
			MenuTab.Create("Info", "Info", "Site", ""),
			MenuTab.Create("About", "About", "Site", ""),
			MenuTab.Create("Contact", "Contact", "Site", ""), 
			MenuTab.Create("Register", "Register", "Site", ""),
			MenuTab.Create("Login", "Login", "Site", "")
		})
	</div>