@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.RegisterClubViewModel>

@section Menu{
	@Html.Partial("_openMenu")
}

<div class="span-6">&nbsp;</div>
<div class="span-10 coverBar">

    <h3>Register Your Club</h3>

        <div class="span-9 last">
			@Model.StatusMessage
        </div>

</div>
<div class="span-8 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>