
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.ChangePasswordViewModel>

@section Menu{
	@Html.Partial("_logoutMenu")
}

<div class="span-6">&nbsp;</div>
<div class="span-10 coverBar">

    <h3>Change Password Success</h3>

	<div class="span-10 last">
		@Model.StatusMessage
	</div>

	<div class="span-10 last">
		&nbsp;
	</div>

	<div class="span-10 last">
		<a href="@(string.Format("http://{0}/Club/{1}?selectedTab=#Profile", Request.Url.Authority, Model.ClubId))">Return To Profile</a>
	</div>

</div>
<div class="span-8 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>
