

@section Menu{
	@Html.Partial("_openMenu")
}

<div class="span-4">&nbsp;</div>
<div class="span-14 coverBar">

    <h3>About Us</h3>

    <p>
        ProgressTen.com started in December 2008 when two members of RC Crawling's oldest club got to chatting 
        and learned that they shared the same passion for their work of software engineering. One was already 
        working on a simple event management and scoring system for the local club and they shared thoughts and 
        ideas for that project.</p>
        
    <p>    
        A few months later the two were co-workers in the same office and ideas began to fly for a software 
        system that could provide the same benefits that the local club was enjoying to the whole nation. 
        More ideas, more features, more capabilities were added as the discussions flowed. And thus was born 
        the site you see today..</p>

    <p>
        <span class="bold">Jim Gary (blue10):</span> The original builder of the scoring and tracking software that served PARC, the local 
        USRCCA club for the Phoenix area. Jim began his career as a software developer in 2003 for a large online 
        university. With a background in mechanical engineering, graphics, and technical writing, his work in 
        software and web development is more than just programming. He was introduced to RC Rock Crawling in 2006 
        and has been in love with the hobby ever since and decided to merge his ideas from his work with his desire 
        to better RC Crawling through his software engineering talents.</p>

    <p>
        <span class="bold">Alec Whittington (ncgoose):</span> As a co-founder of ProgressTen.com, Alec is a senior developer with a few years 
        more experience, the project lead of a large open source software architecture project, and active member 
        of several technical forums in the world of programming, he ran the role of offering some technical advice 
        as the original PARC site was being built. A dedicated RC Crawler since 2008, Alec can clearly be credited 
        with the idea to take what Jim had built for PARC and expand that into a single web site that can serve any 
        and all of RC Crawling’s clubs in the same way. In the fall of 2010, as ProgressTen.com was nearing 
        completion of its initial phase of development and getting ready to be put into web pages and presented to 
        the world, Alec had to make a tough decision. With very many things consuming both his professional and personal 
        life, something had to give. Alec decided to leave RC Crawling and ProgressTen.com to be able to better focus on 
        his software projects outside of his daily work and better keep up with older hobbies of custom car building, 
        1:1 off-roading, and scuba diving.</p>

</div>
<div class="span-6 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>