

@section Menu{
	@Html.Partial("_openMenu")
}

@*<div class="span-4">&nbsp;</div>
<div class="span-14 coverBar">

    <h3>Register As A Club Member</h3>
        
    <div class="span-14 last">
        If your club is a member-club of ProgressTen.com, you can register with this site and enjoy the benefits of USRCCA competition scoring and tracking 
		that we offer. You will have all of your club's comp into from schdules, to scores, notes from your club officers, and much more. If your club is 
		not yet participating through ProgressTen.com, you can still register to have your name available as a competitor at large National and regional 
		events as well as when you visit and compete with ProgressTen.com clubs.
	</div>

	<div class="span-14 last">&nbsp;</div>

	<div class="span-14 last">
		<a href="@(string.Format("http://{0}/Driver/Register", ViewBag.UrlAuthority))">Register As A Driver</a>
	</div>

</div>
<div class="span-6 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>*@

<div class="span-4">&nbsp;</div>
<div class="span-14 coverBar">

    <h3>Register Your Club</h3>

    <div class="span-14 last">
        Rc Rock Crawling Club Presidents or other authorized club officers can register their club with ProgressTen.com. Once verified that your club is a 
		USRCCA Sanctioned club, your members will be able to begin registering and you will be able to begin managing your club's 
		competitions and seasons. The system will then track your club's competition results, tabulate series standings, manage membership and dues
		in the Members CP, manage your comp locations, and much more.
	</div>

	<div class="span-14 last">&nbsp;</div>

    <div class="span-14 note">
        If you are registering as a president, you do not need to also register as a competitor, your name will already be on the club's roster as a member.
	</div>

	<div class="span-14 last">&nbsp;</div>

	<div class="span-14 last">
		<a href="@(string.Format("http://{0}/Club/Register", ViewBag.UrlAuthority))">Register As A Club Officer</a>
	</div>

</div>
<div class="span-6 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>