<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="CoreContainer" connectionString="metadata=res://*/Entities.Core.csdl|res://*/Entities.Core.ssdl|res://*/Entities.Core.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=ProgressTen;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>